{{ define "main" }}
<div class="row">
  <div class="panel panel-primary" style="width: 100%">
    <div class="panel-heading">
      <h2 class="panel-title">{{ if .IsHome }}{{ .Title }}{{ else }}{{ $key := .Title | urlize }}{{ index $.Site.Data.taxonomies $key | default .Title }}{{ end }}</h2>
    </div>
    <div class="panel-body masonry">
      {{ range .Data.Pages }}
      <div class="card col-md-4">
        <div class="card-block">
          <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
          {{ partial .Params.Template . }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
