{{ define "main" }}
<div class="row">
  <div class="panel panel-primary" style="width: 100%">
    <div class="panel-heading">
      <h2 class="panel-title">{{ if .IsHome }}{{ .Title }}{{ else }}{{ $key := .Title | urlize }}{{ index $.Site.Data.taxonomies $key | default .Title }}{{ end }}</h2>
    </div>
    <div class="panel-body">
      <div class="card col-md-12">
        <div class="card-block">
          {{ partial .Params.Template . }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
